
.wrapper {
    display: flex;
	color: black;
	background-color: white;
    background-size: 15vh auto;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
}

.menu {
    width: 20%;
}

.assortment {
    text-align: center;
}

.assortment div {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e7e3e3;
    font-size: 1.2vw;
    /* border-bottom: 1px solid #b4b3b3; */
    margin-left: 10%;
    margin-right: 10%;
    font-family: fantasy;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.assortment div:hover {
    background-color: #232323;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
}

.items {
    display: grid;
    grid-gap: 15px;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3%;
    padding-bottom: 3%;
    width: 55%;
}

.pages {
    display: flex;
    justify-content: center;
    height: 20px;
}