
.wrapper {
    display: flex;
	color: black;
	background-color: white;
    background-size: 15vh auto;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 6%;
}

.menu {
    width: 18vw;
}

.assortment {
    text-align: center;
}

.assortment div {
    height: 7vh;
    line-height: 7vh;
    /* background-color: #e7e3e3; */
    font-size: 1.2vw;
    border-bottom: 1px solid #b4b3b3;
    margin-left: 15%;
    margin-right: 15%;
    font-family: serif;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.5); */
}

.assortment div:hover {
    margin-left: 0px;
    margin-right: 0px;
    color: #3ccbe4;
    cursor: pointer;
    border-bottom: 1px solid #3ccbe4;
}

.pages {
    display: flex;
    justify-content: center;
    height: 20px;
}

.title {
    text-align: center;
    font-family: sans-serif;
    color: #232323;
    font-size: 1.5vw;
    font-weight: 1000;
    margin-bottom: 3vh;
}