.wrapper {
    height: 100vh;
    background: url(https://img1.akspic.ru/image/16955-gitarnoe_solo-muzykalnyj_instrument-gitara-shchipkovyye_strunnyye_instrumenty-stroka-3840x2160.jpg) center no-repeat;
    background-size: 100% auto;
}