
.wrapper {
    display: flex;
    /* background-color: #f3f4f5; */
    background-color: #f8f8f8;
    border: solid 1px #e7e7e7;
    margin-left: 3%;
    padding-bottom: 3%;
    width: auto;
    min-width: 60vw;
}

.imgContainer {
    padding: 5vh;
}

.imgContainer img {
    height: 60vh;
    width: auto;
}

.title {
    font-family: sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    border-bottom: 1px solid #b4b3b3;
    height: 10vh;
    line-height: 5vh;
    font-size: 1.8vw;
}

.information {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    width: 35vw;
}

.menu {
    display: flex;
    margin-bottom: 2vw;
    border: solid 1px #e7e7e7;
}

.menu a {
    text-align: center;
    flex: 1;
    font-size: 1.3vw;
    background-color: white;
    height: 6vh;
    line-height: 6vh;
}

.menu a:hover {
    cursor: pointer;
}

/* .menu a:active {
    background-color: #232323;
    color: white;
} */

.activeLink {
	border-bottom: 3px solid red;
}


