.topPanel {
	height: 5vh;
	background-color: #e7e3e3;
	border-bottom: #b4b3b3 solid 1px;
	box-shadow: 0 0 1px rgba(0,0,0,5);
}

.logoPanel {
	display: flex;
	height: 20vh;
	background-color: #f3f4f5;
	background-image: url(https://i.ibb.co/0fdjxqv/logo.png);
	background-size: 25vh auto;
	background-repeat: no-repeat;
	background-position: center;
} 

.menu {
	background-color: #e7e3e3;
	font-size: 0.9vw;
	height: 8vh;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #b3b3b4;
	border-bottom: 1px solid #b3b3b4;
}

.auth {
	right: 0px;
	background-color: #232323;
}