.topPanel {
	display: flex;
	height: 20vh;
	background-color: #e7e3e3;
	background-image: url(https://i.ibb.co/0fdjxqv/logo.png);
	background-size: 25vh auto;
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: 20vh; */
} 

.bottomPanel {
	height: 3vh;
	background-color: #e7e3e3;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu {
	background-color: #232323;
	/* background-color: #e7e3e3; */
	font-size: 0.9vw;
	height: 12vh;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}
