.wrapper {
    text-align: center;
    height: 55vh;
    width: 100%;
    font-family: sans-serif;
    /* font-size: 1.2em; */
    background-color: #e7e3e3;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.wrapper:hover {
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); */
    /* border: solid #b4b3b3 1px; */
    /* outline: 3px solid #b4b3b3; */
    /* outline-offset: -3px; */
    cursor: pointer;
}

img {
    margin: 10%;
    margin-bottom: 0px;
    height: 30vh;
}

.information {
    margin: 10%;
}

.titleOfProduct {
    font-size: 1vw;
    font-weight: 700;
    height: 4vh;
    text-align: left;
    border-bottom: solid #b4b3b3 1px;
    padding-bottom: 10px;
}

.price {
    text-align: left;
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: 1vh;
}

.available {
    color:  green   
}

.not-available {
    color: rgb(200, 50, 50);
}