.wrapper {
    /* display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    padding-bottom: 3%;
    width: 64vw;
    /* justify-content: space-between; */
}