.wrapper {
    display: flex;
}

.assortment {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    padding-bottom: 3%;
    width: 68vw;
}

.menuWrapper {
    width: 17vw;
}

.menu {
    background-color: #f9f9f9;
    border: solid 1px #e7e7e7;
    height: 35vw;
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.page {
    background-color: #f9f9f9;
    border: 1px solid #e7e7e7;
    padding: 1.5%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.currentPage {
    background-color: #f9f9f9;
    border: 1px solid #e7e7e7;
    color: #1e68c9;
    padding: 1.5%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.page:hover {
    cursor: pointer;
    background-color: #e2e3e4;
    border: solid 1px #cccccc;
}

