.footer {
    display: flex;
	color: white;
	padding-top: 0px;
    height: 20vh;
    /* margin-top: 15vh; */
    position: relative;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    /* background-color: #e7e3e3; */
    background-color: #f8f8f8;
}
    