.footer {
    display: flex;
	color: white;
	padding-top: 0px;
	/* background: url(MUSIC/heart.jpg) left center no-repeat; */
	background-color: #e7e3e3;
	background-size: 15vh auto;
    height: 20vh;
    margin-top: 15vh;
    position: relative;
    width: 100%;
}
    