.footer {
    display: flex;
	color: white;
	padding-top: 0px;
	/* background: url(MUSIC/heart.jpg) left center no-repeat; */
	background-color: #232323;
	background-size: 15vh auto;
    height: 20vh;
    position: relative;
    /* bottom: 0; */
    width: 100%;
}
    