.item {
	font-family: fantasy;
	font-size: 2em;
	height: 12vh;
	line-height: 12vh;
	text-align: center;
}

.item a {
	color: white;
	text-decoration: none;
	height: 12vh;

}

.item a:hover {
	color: #838181;
	cursor: pointer;
	/* border-bottom: 7px red solid; */
}

.item .activeLink {
	height: 12vh;
	/* color: #f3f72b; */
	border-bottom: solid 5px white;
}

.item .activeLink:hover {
	color: white;
}