.wrapper {
    height: 27vw;
    width: 16vw;
    /* margin-bottom: 0.5vw;
    margin-right: 0.5vw; */
    background-color: #f9f9f9;
    border: solid 1px #e7e7e7;
    text-align: center;
    font-family: Arial;
}

a {
    color: #232323;
    text-decoration: none;
}

/* .wrapper:hover {
    background-color: #e2e3e4;
    border: solid 1px #cccccc;
} */

.imgContainer {
    /* border-bottom: solid #9c9cb1 1px; */
    padding-bottom: 5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.imgContainer img {
    max-width: 12vw;
    text-align: center;
    margin-top: 10%;
    height: 15vw;
}

.information {
    padding: 10%;
    padding-top: 2%;
    height: 10vw;
}

.titleOfProduct {
    color: #5d5e61;
    font-size: 1vw;
    font-weight: 700;
    height: 4vw;
    text-align: left;
    padding-bottom: 1vw;
}

/* .titleOfProduct:hover {
    color: #4b7ec2;
} */

.priceAndCart {
    display: flex;
    align-items: center;
}

.price {
    text-align: left;
    flex: 1;
    font-family: impact;
    font-size: 1.3vw;
    line-height: 1.3vw;
    font-weight: 520;
}

.cart {
    text-align: right;
    flex: 1;
    /* height: 3.2vw;
    border-radius: 50%; */
}

.cart {
    color: white;
    line-height: 1vw;
    font-size: 1vw;
    text-align: center;
    background-color: #4b81c9;
    border: 1px solid #3d679e;
    padding-top: 0.40vw;
    padding-bottom: 0.40vw;
    border-radius: 4px 4px;
    /* border: 1px solid green; */
}

.cart:hover {
    background-color: #3d679e;
}

.cart img {
    height: 2.2vw;
    width: auto;
}



.available {
    color:  green   
}

.not-available {
    color: rgb(200, 50, 50);
}

.addToCart {
    background-color: #3ccbe4;
    height: 5vh;
    line-height: 5vh;
}

